*, *::before, *::after { margin: 0; padding: 0; }

body {
  font-family: var(--font-ui);
  font-size: var(--ui-font-size);
  color: var(--fg);
  background: var(--bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  zoom: var(--ui-scale);
  width: calc(100% / var(--ui-scale));
  height: calc(100vh / var(--ui-scale));
}
